@import "tailwindcss";

html, body {
  overflow-x: clip;
}

h1{
    font-family: "Montserrat", sans-serif;

}

h2{
    font-size:50px;
    font-family: "Montserrat", sans-serif;
}

.btn{
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

